<input 
    class="contact-search"
    type="text" 
    [(ngModel)]="searchText" 
    (ngModelChange)="searchContacts()"
    placeholder="Search a contact name..."
>

<button class="btn-confirm" (click)="addContact()"> + Add Contact </button>

<div class="contact-tiles" *ngIf="!isLoading">
    <div class="contact-tile" *ngFor="let contact of contacts">
        <div class="contact-tile-img">
            <img src="../../assets/pictures/blank-profile-photo.jpeg">
        </div>
        <div class="contact-tile-name">
            <h3>{{contact.firstName}} {{contact.lastName}}</h3>
        </div>
        <div class="contact-tile-options">
            <span>...</span>
            <div class="option-items">
                <p (click)="edit(contact)">Edit</p>
                <p (click)="remove(contact.id)">Delete</p>
            </div>
        </div>
        <div class="contact-tile-details">
            <div class="titles">
                <p>Phone:</p>
                <p>School:</p>
            </div>
            <div>
                <p>{{contact.phoneNumber}}</p>
                <p>{{contact.school}}</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoading">
    <h1>REFRESHING...</h1>
</div>

<pagination
    [totalResults]="totalResults"
    [pageNumber]="pageNumber"
    (next)="nextPage()"
    (previous)="previousPage()"
    (pageSizeChanged)="pageSizeChanged($event)">
</pagination>